# SÏ€Q - config.toml
#
# This is the configuration file for QSpiQ.
# It is written in TOML format.
#
# Nov 2024, M. Giugliano

[lfp]
save_lfp = "y"  # Extract/Save the LFP [y/n]
# Raw data filtering and subsampling for the LFP.
# Max cut-off frequency [Hz] for low-pass filtering.
fmax = 100.0
rate = 1000.0


[detection]
detect = "y"    # Detect spikes [y/n]
# Raw data filtering for the detection of spikes [Hz]
# Min and max cut-off frequencies for band-pass filtering.
fmin = 400.0
fmax = 3000.0

# Detection threshold, in units of std dev (of the noise)
stdmin = 5.0        # 5 times the std dev
stdmax = 10000.0    # 10000 times the std dev (i.e. no upper limit)

# Positive, negative threshold crossings, or both
type = "both" # "pos", "neg", "both"

# Refractory period or detection dead-time (ms)
refractory = 2.5

[sorting]
save_shapes = "y"
# Filtering for the sorting of spikes [Hz] (optional)
fmin = 400.0
fmax = 3000.0

# Spike shape extraction - time window (ms)
delta_pre  = 1.0    # ms
delta_post = 2.5    # ms

# Interpolation factor for the spike shape
interpolation_factor = 2

# Interpolation with cubic spline [y/n]
cubic_spline = "y"

[bursting]
burst_bin = 50.0       # ms - bin size for the burst detection
pelt_factor = 0.05     # for burst's beginning/end as 5% of peak
burst_th_mode = "amo"  # "dyn", "syn", "fix", or "amo" - thr. mode
sn_ratio_threshold = 5.0 # SNR threshold
burst_threshold = 1000.0  # fixed threshold
minimal_threshold = 0.0 # minimal value





